.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-form{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

.login{
  display: block;
  float: none;
  position: relative;
  color: palevioletred;

}
.login-section{
  margin-top: 20px;
  padding: 30px;
  margin-left: 40px;
  display: block;

}

.dog-form-wrapper{
  margin-top: 80px;
}

.sex-icons {
  margin-top: 10px;
}

.ui.attached{
  text-align: center !important;
}

.icon {
  margin: 0px !important;
}

.login-div{

  border-radius: 20px;
  padding: 100px 80px 70px 100px;
  background-color: whitesmoke;
  opacity: 0.9;
  position: relative; left: 50%;
  transform: translateX(-50%);
  width: 70%

}

body {
  background: url('./images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.list-page-background{
  background-color: black;
}

.spacer{
  margin: 10%;
    padding: 0;
    border: 0;
}
.small-spacer{
  margin: 5%;
    padding: 0;
    border: 0;
}

.list-top-image{
  background-color: whitesmoke;
  padding: 5px;
}
